ion-content ion-toolbar {
  --background: translucent;
}

.Tab1-button-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.Tab1-button-wrapper {
  padding: 15px;
}