@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotationRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes shake {
    from {
        transform: translateX(-7%) translateY(-2%);
    }
    to {
        transform: translateX(3%) translateY(4%);
    }
}
@keyframes crazy {
    from {
        transform: translateX(-10%) translateY(-10%) rotate(0deg);
    }
    to {
        transform: translateX(0%) translateY(0%) rotate(180deg);
    }
}
@keyframes crazy-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes rotationLeft {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.DogLogo-page {
    background-color: #203931;
    background-image: url("/assets/back.png");
    /*display: flex;*/
    /*justify-content: center;*/
}
.DogLogo-page-inner {
    position: relative;
    max-width: 500px;
    min-height: 300px;
    padding: 30px 0;
}

.DogLogo-dog-front {
    position: absolute;
    width: 80%;
    z-index: 100;
}
.DogLogo-dog-side {
    position: absolute;
    top: 12%;
    width: 85%;
    z-index: 100;
}
.DogLogo-text {
    position: absolute;
    left: 60%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 100;
    color:white;
}
.DogLogo-dog-intro {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.DogLogo-dog-shaking {
    animation: .1s ease-out 0s infinite shake;
}
.DogLogo-dog-crazy {
    animation: .1s ease-out 0s infinite crazy;
}
.DogLogo-disk-crazy {
    animation: .1s ease-in-out 0s infinite crazy-rotation;
}

.DogLogo-disk1 {
    right: 30px;
    bottom: 100px;
    width: 70px;
    position: absolute;
    z-index: 50;
    animation: rotationLeft 2s infinite linear;
}

.DogLogo-disk2 {
    right: 120px;
    bottom: 20px;
    width: 70px;
    position: absolute;
    z-index: 50;
    animation: rotationRight 2s infinite linear;

}

.DogLogo-disk3 {
    left: 30px;
    bottom: 25px;
    width: 70px;
    position: absolute;
    z-index: 50;
    animation: rotationLeft 2s infinite linear;

}

.DogLogo-premium {
    /*font-family: 'Comic sans';*/
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: yellow;
    font-size: small;
}